 <div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="/assets/images/burger.jpg" alt="burger" />
			<h1> Eat-The-Burger! </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each burgers}}
			  	{{#unless devoured}}
				<div class="col-xs-9 text-center">
					<pre>{{id}}. {{burger_name}}
					</pre>
				</div>
				<div class="col-xs-3 text-center">
						<button type="button" class="btn btn-default change-devour" value={{id}}>Devour it!</button>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each burgers}}
			  	{{#if devoured}}
			  		<input class="form-control" type="text" placeholder="{{id}} . {{burger_name}}" >
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form id="stacey-struggle">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat and click the "Submit" button.</p>
		</div>
	</div>
</div> 
